<%= form_for(@user, :multipart => true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :experience %>
    <%= f.text_field :experience %>

    <%= f.label :user_pic, 'Picture'%>
    <%= file_field_tag :user_pic %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
